.password-form {

    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-password-form-close-button-container {
    text-align: right;
}

.add-password-form-close-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #aaa;
}

.add-password-form-close-button:hover {
    color: #f00;
}

.add-password-form-group {
    margin-bottom: 15px;
}

.add-password-form-label {
    display: block;
    margin-bottom: 5px;
}

.add-password-form-input,
.add-password-password-toggle-button,
.add-password-generate-button,
.add-password-submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box; 
}


.add-password-password-input-group {
    display: flex;
    align-items: center;
}

.add-password-form-input.password-input {
    flex-grow: 1;
    margin-right: 5px; 
}

.add-password-password-toggle-button,
.add-password-generate-button {
    width: auto;
    padding: 10px 20px;
}

.add-password-generate-password {
    margin-top: 10px;
}

.add-password-password-strength {
    margin-top: 10px;
}

.form-action {
    text-align: right;
}
