/* AddPasswordPage.css */

.password-page-container {
    width: 100%;
    width: calc(100% - 40px);
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: auto;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #F2F4F5;
    z-index: 1000;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}


    .password-page-container.show-password-page {
        display: block;
    }

.password-page h3 {
    color: darkred;
}

.password-page label {
    display: block;
    margin-top: 10px;
}

.password-page input {
    width: calc(100% - 20px); /* Adjusted width to account for padding */
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.password-page button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
