/* Modal container to cover the entire view and center the modal content */
.add-password-modal-container {
    display: flex; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    align-items: center; 
    justify-content: center; 
}

/* Styling for the modal content with padding, border, and width */
.add-password-modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Close button in the top right corner of the modal */
.close-button {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    float: right;
    width: 36px;
    height: 36px;
    line-height: 36px; 
    text-align: center;
    border-radius: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s; 
}

/* Hover and focus styles for the close button */
.close-button:hover,
.close-button:focus {
    color: #000;
    background-color: #e5e5e5;
}

/* Form group styling for layout and spacing */
.form-group {
    margin-bottom: 15px;
}

/* Styling for input elements within the form */
input[type="text"],
input[type="url"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Styling for buttons used in the form for actions like showing or saving password */
.show-confirm-password-btn,
.save-password-btn,
.show-password-btn,
.generate-password-btn {
    background-color: #4CAF50; 
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Hover effects for buttons to give feedback to the user */
.show-confirm-password-btn:hover,
.save-password-btn:hover,
.show-password-btn:hover,
.generate-password-btn:hover {
    opacity: 0.8;
}

/* Container for the website notes */
.website-notes-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
}

/* Styling for labels within the website notes group for clarity and uniformity */
.website-notes-label {
    font-size: 16px; 
    color: #333; 
    margin-bottom: 8px; 
}

/* Textarea specific styles for entering notes */
.website-notes-input {
    height: 150px; 
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fafafa; 
    resize: none; 
    box-sizing: border-box; 
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
}

    /* Enhances user interaction with focus styles */
    .website-notes-input:focus {
        border-color: #4CAF50; 
        box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
        outline: none; 
    }

/* Password strength indicator styles */
.password-strength-bar {
    height: 10px;
    width: 100%;
    border-radius: 3px;
    margin-top: 5px;
}

.password-strength-indicator {
    font-weight: bold;
}